{% extends 'main/layout.html' %}
{% load static %}

{% block title_content %}
    Predicter home page
{% endblock %}

{% block body_content %}
    <div class="features">
        <h1>Добавьте документ или выбирете уже загруженный</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.document }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-warning" type="submit" ><img src="{% static 'main/image/karych.png' %}" width="104"> <span class="logo">Поехали!!!</span></button>
        </form>
    </div>
{% endblock %}
